<a href="https://colab.research.google.com/github/jesrfelts/TEDA1040/blob/main/TEDA_1030_Module_5_Project_EDA_on_Wine_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Wine Reviews Analysis

Jessica Felts

**Overview**

This analysis explores a variety to wine reviews from multiple individuals. Although wine reviews are subjective - due to the preferences of each individual - the reviews and preferences from each individual are valuable and informative nonetheless, espeically when a large collection of reviews can be analyzed.

**About the data**

This data set wine.csv comes from the Wine Enthusiast website (magazine and ecommerce business). The data set includes information about various attributes of each wine, such as wine's country of origin, variety, points awarded, price, etc.

**Analysis**

The goal of this EDA is to determine what overall characteristics of a wine qualify it as desirable or not. Questions that will be addressed in this EDA are:

*   Which country produces wine with the most points, on average? (descriptive statistics)
*   Which taster gives the lowest scores (points), on average?
*   Which variety of wine is the most expensive, on average?
*   Which year of wines has the best score (points), on average?
*   Do reviews with the word "depth" in them tend to get better than average or worse than average points?
*   Do reviews with the word "fruity" in them tend to get better than average or worse than average points?
*   Do reviews with the word "herbal" in them tend to get better than average or worse than average points?
*   Do reviews with more letters award more or less points, on average?
*   Which region of the province Sicily & Sardinia produces the best wine, on average?

The first thing to do for this EDA is import Pandas, as I will be using that library for my analysis, following by importing my data set.

Then, I will gather some overall information regarding my data set so I have an idea of how many entries there are, what columns there are, etc.

In [ ]:
import pandas as pd
df = pd.read_csv("wine.csv")

In [ ]:
df.head(3)

,country,description,designation,points,price,province,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [ ]:
df.info()

'''
There are a total of 129,971 data entries. There are a total of 11 columns named country, description, designation, points, price, province, taster_name, taster_twitter_handle,
title, variety, and winery. All the columns are object data types, except for points and price (which are integers and floats, respectively).

Overall, most columns have few non-null values, though the columns designation, taster_name, and taster_twitter_handle are missing 37,465, 26,244, and 31,213 data points, respectively.
All other colunns are missing less than 100 data points.
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   taster_name            103727 non-null  object
 7   taster_twitter_handle  98758 non-null   object
 8   title                  129971 non-null  object
 9   variety                129970 non-null  object
 10  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.9+ MB

The following three questions all rely on descriptive statistics. Therefore, the codes will be similar to each other, with the differences being what columns I am extracting data from (e.g., country, price, variety, etc.).

In [ ]:
# Question 1: Which country produces wine with the most points, on average?
'''
England produces wine with the most points on average, at 91.58 points. The top five countries in order from first are England, India, Austia, Germany, and Canada.
Conversely, the five lowest ranking countries, from fifth to last, are Mexico, Brazil, Ukraine, Egypt, and Peru, with Peru having the lowest average points of 83.56 on average.
'''

df.groupby('country')['points'].mean().sort_values(ascending=False)

country
England                   91.581081
India                     90.222222
Austria                   90.101345
Germany                   89.851732
Canada                    89.369650
Hungary                   89.191781
China                     89.000000
France                    88.845109
Luxembourg                88.666667
Australia                 88.580507
Switzerland               88.571429
Morocco                   88.571429
US                        88.563720
Italy                     88.562231
Israel                    88.471287
New Zealand               88.303030
Portugal                  88.250220
Turkey                    88.088889
Slovenia                  88.068966
South Africa              88.056388
Bulgaria                  87.936170
Georgia                   87.686047
Lebanon                   87.685714
Armenia                   87.500000
Serbia                    87.500000
Spain                     87.288337
Greece                    87.283262
Czech Republic            87.250000
Croatia                   87.219178
Moldova                   87.203390
Cyprus                    87.181818
Slovakia                  87.000000
Macedonia                 86.833333
Uruguay                   86.752294
Argentina                 86.710263
Bosnia and Herzegovina    86.500000
Chile                     86.493515
Romania                   86.400000
Mexico                    85.257143
Brazil                    84.673077
Ukraine                   84.071429
Egypt                     84.000000
Peru                      83.562500
Name: points, dtype: float64

In [ ]:
# Question 2: Which taster gives the lowest scores (points), on average?
'''
The taster Alexander Peartree gives the lowest scores on average at 85.85 points. Conversely, the taster Anne Krebiehl MW gives the highest scores on average at 90.56 points.
'''

df.groupby('taster_name')['points'].mean().sort_values(ascending=True)

taster_name
Alexander Peartree    85.855422
Carrie Dykes          86.395683
Susan Kostrzewa       86.609217
Fiona Adams           86.888889
Michael Schachner     86.907493
Lauren Buzzeo         87.739510
Christina Pickard     87.833333
Jeff Jenssen          88.319756
Anna Lee C. Iijima    88.415629
Joe Czerwinski        88.536235
Jim Gordon            88.626287
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Kerin O’Keefe         88.867947
Paul Gregutt          89.082564
Mike DeSimone         89.101167
Virginie Boone        89.213379
Matt Kettmann         90.008686
Anne Krebiehl MW      90.562551
Name: points, dtype: float64

In [ ]:
# Question 3: Which variety of wine is the most expensive, on average?

df.groupby('variety')['price'].mean().sort_values(ascending=False)
# The code above calls back 707 entries for variety. However, there are a number of entries that have null values, so I will write a second line of code that will exclude these entries.

df.dropna(subset=['price']).groupby('variety')['price'].mean().sort_values(ascending=False)
# This second code drops all of the rows/entries where there were null entries for price (there were a total of 10 with null values).

'''
Of the 697 varieties that had values for price, the wine variety that is the most expensive is Ramisco at $495 per bottle. The second most expensive wine--Terrantez--is $236 per bottle.
While $236 is no price to sniff at, it is significantly less expensive than the Ramisco--the price of the Ramisco is 109.75% more than the Terrantez.
On the other end, the least expensive wine variety is Trajadura at $7 per bottle. The bottom five wine varieties are much closer in price than the top five wine varieties.
'''

variety
Ramisco                  495.000000
Terrantez                236.000000
Francisa                 160.000000
Rosenmuskateller         150.000000
Malbec-Cabernet          113.333333
                            ...
Johannisberg Riesling      8.875000
Shiraz-Tempranillo         8.500000
Malagouzia-Chardonnay      8.000000
Macabeo-Moscatel           8.000000
Trajadura                  7.000000
Name: price, Length: 697, dtype: float64

The next question will utilize a regular expression (regex) to extract the year from the "title" column and then create a new column for the data. The regex code used for this will be (\d{4}).

Following this extraction, I will once again use descriptive statistics to answer the question.

In [ ]:
# Question 4: Which year of wines has the best score (points), on average?

df['year'] = df['title'].str.extract(r'(\d{4})')
df.groupby('year')['points'].mean().sort_values(ascending=False)

'''
The wine year with the best points on average is 1969 at 98 points.
In the bottom five wines, however, there are two years that I question validity of: 1150 and 1492. I've never actually had wine (or any alcohol at all) before,
so I have absolutely no ideaif there are wines that people drink from those years, but...I do find that interesting!
'''

year
1969    98.000000
1973    96.000000
1952    95.500000
1927    95.000000
1945    95.000000
          ...
1856    85.333333
1882    85.250000
1150    84.500000
1492    83.333333
1887    83.000000
Name: points, Length: 91, dtype: float64

The following three questions will also use descriptive statistics to achieve and answer to the question, however, a string will also be needed in order to extract "depth", "fruity", or "herbal" from the title and create a new column. Once this new column is created, it can then be used to analyze additional data by grouping data with "depth", "fruity", or "herbal" in the description.

In [ ]:
# Question 5: Do reviews with the word "depth" in them tend to get better than average or worse than average points?

df['depth'] = df['description'].str.contains('depth', case=False)
avg_Wdepth = df[df['depth'] == True]['points'].mean()
avg_WOdepth = df[df['depth'] == False]['points'].mean()
print(avg_Wdepth)
print(avg_WOdepth)

'''
Wines that list "depth" in the description had an average point value of 90.11 points.
However, wines that *do not* list "depth" in the description had an average point value of 88.41 points.
Based on those numbers, it is reasonable to conclude that wines with "depth" in their description do indeed rank higher than wines that do not.
'''

90.112109375
88.41368484667728

In [ ]:
# Question 6: Do reviews with the word "fruity" in them tend to get better than average or worse than average points?

df['fruity'] = df['description'].str.contains('fruity', case=False)
avg_Wfruity = df[df['fruity'] == True]['points'].mean()
avg_WOfruity = df[df['fruity'] == False]['points'].mean()
print(avg_Wfruity)
print(avg_WOfruity)

'''
Wines that list "fruity" in the description had an average point value of 87.60 points.
However, wines that *do not* list "fruity" in the description had an average point value of 88.51 points.
Based on those numbers, one can assume that wines with "fruity" in their description do not rank higher than wines that do not.
However, it is a very close margin between the two values (less than 1 point), so some caution should be used when making this assumption.
'''

87.60052882072978
88.51355836569418

In [ ]:
# Question 7: Do reviews with the word "herbal" in them tend to get better than average or worse than average points?

df['herbal'] = df['description'].str.contains('herbal', case=False)
avg_Wherbal = df[df['herbal'] == True]['points'].mean()
avg_WOherbal = df[df['herbal'] == False]['points'].mean()
print(avg_Wherbal)
print(avg_WOherbal)

'''
Wines that list "herbal" in the description had an average point value of 87.44 points.
However, wines that *do not* list "herbal" in the description had an average point value of 88.49 points.
Based on those numbers, one can assume that wines with "herbal" in their description do not rank higher than wines that do not.
However, it is a very close margin between the two values (almost 1 point), so some caution should be used when making this assumption.
'''

87.43843416370106
88.49272623461009

The following question will write a code to determine if there is a correlation between the length of a review and the average ranking/points. To do this, another string function must be used to determine the total length/character count of the review itself, and then compute a correlation between the new character count numerical value and the average points.

If there is a positive correlation (closer to 1), that will indicate that longer reviews tend to have higher scores.

If there is a negative correlation (closer to -1), that will indicate that shorter reviews tend to have higher scores.

If the correlation is closer to 0, it means that there is little to no relationship between the two values.

In [ ]:
# Question 8: Do reviews with more letters award more or less points, on average?

df['char_count'] = df['description'].str.len()
df['char_count'].corr(df['points'])

'''
The correlation value between the review length and the points is 0.56. This would indicate that there is a moderate positive correlation
between the length of the reveiw and higher scores; in other words, there's a moderate correlation between wines with longer reviews
having better scores.
'''

0.5577602558815876

The final question will use a mixture of codes seen above for regex and descriptive statistics, and will require some niching down for each step.

1. Create a regex code to extract "regions" from the title of wines.
2. Create a sub data set for just Sicily & Sardinia.
3. Organize this new Sicily & Sardinia data set according to region, then by what region had the best average points.

In [ ]:
# Question 9: Which region of the province Sicily & Sardinia produces the best wine, on average?

df['region'] = df['title'].str.extract(r'\((.+)\)')
SiSa_wine = df[df['province'] == 'Sicily & Sardinia']
SiSa_wine.groupby('region')['points'].mean().sort_values(ascending=False)

'''
The Sicily & Sardinia region "Faro" produces the best wine on average, according to the scale of using most average points.
'''

region
Faro                              94.000000
Moscato di Noto                   92.000000
Contessa Entellina                91.857143
Alghero                           91.500000
Passito di Pantelleria            91.363636
Nasco di Cagliari                 91.000000
Contea di Sclafani                90.333333
Malvasia delle Lipari             90.250000
Eloro                             90.200000
Moscato di Pantelleria            90.000000
Salina                            89.875000
Etna                              89.869048
Noto                              89.428571
Isola dei Nuraghi                 89.424658
Carignano del Sulcis              89.222222
Vermentino di Gallura             89.071429
Valli di Porto Pino               88.800000
Vittoria                          88.791667
Cerasuolo di Vittoria Classico    88.555556
Siracusa                          88.500000
Nuragus di Cagliari               88.333333
Marsala                           88.285714
Cannonau di Sardegna              88.085714
Vermentino di Sardegna            87.911111
Mamertino                         87.500000
Sicilia                           87.438919
Monica di Sardegna                87.428571
Terre Siciliane                   87.399061
Alcamo                            87.285714
Menfi                             87.250000
Sardinia                          87.200000
Vittoria Frappato                 87.166667
Delia Nivolelli                   87.000000
Colli del Limbara                 87.000000
Cerasuolo di Vittoria             87.000000
Erice                             86.818182
Monreale                          86.666667
Name: points, dtype: float64

In [ ]:
# What wines are the least expensive but have the most points?

cheap_but_tasty = df.sort_values(by=['price', 'points'], ascending=[True, False])
cheap_but_tasty.head(5)

,country,description,designation,points,price,province,taster_name,taster_twitter_handle,title,variety,winery,year,depth,fruity,herbal,char_count,region
64590,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit,NaN,False,False,False,151,California
126096,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,86,4.0,Viile Timisului,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas,2011,False,False,False,170,Viile Timisului
1987,Spain,Berry and cherry aromas are surprisingly sturd...,Flirty Bird,85,4.0,Central Spain,Michael Schachner,@wineschach,Felix Solis 2013 Flirty Bird Syrah (Vino de la...,Syrah,Felix Solis,2013,False,False,False,224,Vino de la Tierra de Castilla
20484,US,"Fruity, soft and rather sweet, this wine smell...",NaN,85,4.0,California,Jim Gordon,@gordone_cellars,Dancing Coyote 2015 White (Clarksburg),White Blend,Dancing Coyote,2015,False,True,False,138,Clarksburg
29553,Argentina,"Crimson in color but also translucent, with a ...",Red,84,4.0,Mendoza Province,Michael Schachner,@wineschach,Broke Ass 2009 Red Malbec-Syrah (Mendoza),Malbec-Syrah,Broke Ass,2009,False,False,False,236,Mendoza

## Conclusion

In conclusion, there are a number of overall trends that can be seen above that determine if a wine is better than another.

For example, you will get overall better wine that is produced from England (at average 91.58 points). However, if you can obtain a wine from the Siciliy & Sardinia region of Faro (at average 94.00 points), it will outperform the average English wine.

There seems to be a slight preference among reviewers for wine with depth but without fruity or herbal notes, however, every person's personal preference will be different. Though, if you are just getting in to trying and tasting wine, professional reviewers rankings might be a good place to start.

In line with my final note for those who are just getting in to wine tasting, I did add a final code block after question 9 to determine what five wines are the least expensive but have the most points. This might be valuable information for those who, again, are just getting in to tasting and trying wines, but either might not have a lot of money to devote to the passtime, or are not quite yet ready to commit the $495 for a bottle of a Ramisco.